## Task 1: Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [9]:
import pandas as pd
import numpy as np

In [ ]:
#creating a dictionary
dict1 = {"Name":["Ashwin","Aryaa","Kaustubha","Devanshi","Rishu","Harsh","Siddhant","Chinmay","Janhavi","Khushi"],
         "Campus":["Chennai","Vellore","Chennai","Chennai","Vellore","Chennai","Vellore","Vellore","Chennai","Vellore"],
         "TravelDistance":[64,70,29,36,30,25,23,50,11,16],
         "Marks":[91,92,99,90,93,97,np.nan,89,88,95],
         "Gender":["M","F","M","F","M","M","M","M","F","F"]}

dict1

In [11]:
#creating the dataframe
df = pd.DataFrame(dict1)
df

        Name   Campus  TravelDistance  Marks Gender
0     Ashwin  Chennai              64   91.0      M
1      Aryaa  Vellore              70   92.0      F
2  Kaustubha  Chennai              29   99.0      M
3   Devanshi  Chennai              36   90.0      F
4      Rishu  Vellore              30   93.0      M
5      Harsh  Chennai              25   97.0      M
6   Siddhant  Vellore              23    NaN      M
7    Chinmay  Vellore              50   89.0      M
8    Janhavi  Chennai              11   88.0      F
9     Khushi  Vellore              16   95.0      F

## Task 2: Check the info of 'df'

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            10 non-null     object
 1   Campus          10 non-null     object
 2   TravelDistance  10 non-null     int64
 3   Marks           9 non-null      float64
 4   Gender          10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

## Task 3: Check the descriptive statistics of 'df'

In [13]:
df.describe()

       TravelDistance      Marks
count       10.000000   9.000000
mean        35.400000  92.666667
std         19.811332   3.708099
min         11.000000  88.000000
25%         23.500000  90.000000
50%         29.500000  92.000000
75%         46.500000  95.000000
max         70.000000  99.000000

## Task 4: Check the 4th index observation with 'loc' slicing operator.

In [14]:
df.loc[4]

Name                Rishu
Campus            Vellore
TravelDistance         30
Marks                93.0
Gender                  M
Name: 4, dtype: object

## Task 5: Check the null values in your 'df'

In [15]:
df.isnull().any()

Name              False
Campus            False
TravelDistance    False
Marks              True
Gender            False
dtype: bool

In [16]:
df.isnull().sum()

Name              0
Campus            0
TravelDistance    0
Marks             1
Gender            0
dtype: int64